<figure>
  <img
    class='image'
    src={{webformatURL}}
    loading="lazy"
    alt=''
    height='275'
    data-src={{largeImageURL}}
  />
  <figcaption>
    <p class='stats-item'>
      <i class='material-icons lightblue'>likes </i>
      {{' '}}
      {{likes}}
    </p>
    <p class='stats-item'>
      <i class='material-icons skyblue'>views </i>
      {{' '}}
      {{views}}
    </p>
    <p class='stats-item'>
      <i class='material-icons powderblue'>comments </i>
      {{' '}}
      {{comments}}
    </p>
    <p class='stats-item'>
      <i class='material-icons rgb'>downloads </i>
      {{' '}}
      {{downloads}}
    </p>
  </figcaption>
</figure>